<?xml version="1.0" encoding="UTF-8"?> 
<web-app xmlns="http://java.sun.com/xml/ns/javaee"  
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"  
  version="2.5">   
 
  <display-name>EDMwebServices(tm)</display-name>  
  <description>  
    The EXPRESS Data manager(tm) front end of EDMwebServices(tm)  
  </description>  
 
  <context-param> 
    <param-name>soap.input.file</param-name> 
    <param-value>O:/__jotne/ee-tomcat/temp/soapMessageFromClient.xml</param-value> 
    <description> 
      Every soap message from the clients are copied to this file 
    </description> 
  </context-param> 
      
  <context-param> 
    <param-name>soap.output.file</param-name> 
    <param-value>O:/__jotne/ee-tomcat/temp/soapMessageToClient.xml</param-value> 
    <description> 
      Every soap message from the server returned to a client is copied to this file 
    </description> 
  </context-param> 
 
  <context-param> 
    <param-name>log.directory</param-name> 
    <param-value>O:/__jotne/ee-tomcat/logs</param-value> 
    <description> 
      The directory where log files are created.  
      If not defined, "java.io.tmpdir" is used as log directory 
    </description> 
  </context-param> 
 
<context-param> 
    <param-name>edm.host</param-name> 
    <param-value>localhost</param-value> 
    <description> 
      The adress to the machine the EDMserver is running on. 
      Keep 'localhost'. Front and back end modules must run on 
      the same machine. 
    </description> 
  </context-param> 
      
  <context-param> 
    <param-name>edm.port</param-name> 
    <param-value>4590</param-value> 
    <description> 
      The service port the EDMserver is listening on. 
    </description> 
  </context-param>
   

   <servlet> 
    <servlet-name>WSDLGenerator</servlet-name> 
    <description> 
      WSDL generator servlet 
    </description> 
    <servlet-class>edmws.webapp.servlets.WSDLGenerator</servlet-class> 
    <load-on-startup>5</load-on-startup> 
  </servlet> 
 
  <servlet> 
    <servlet-name>AccessControl</servlet-name> 
    <description> 
      Access Control Servlet 
    </description> 
    <servlet-class>edmws.webapp.servlets.LoginServlet</servlet-class> 
    <load-on-startup>5</load-on-startup> 
  </servlet> 
 
  <servlet> 
    <servlet-name>earlybinding</servlet-name> 
    <description> 
      Servlet that handles SOAP messages for execution of queries. 
    </description> 
    <servlet-class>edmws.webapp.servlets.ExecuteQuery</servlet-class> 
    <load-on-startup>5</load-on-startup> 
  </servlet> 
 
  <servlet> 
    <servlet-name>RESTServlet</servlet-name> 
    <servlet-class>edmws.webapp.servlets.RESTServlet</servlet-class> 
    <load-on-startup>5</load-on-startup> 
  </servlet> 

  <servlet> 
    <servlet-name>Admin</servlet-name> 
    <description> 
      Servlet that define logging parameters for an logged on session. 
    </description> 
    <servlet-class>edmws.webapp.servlets.AdminServlet</servlet-class> 
    <load-on-startup>5</load-on-startup> 
  </servlet> 

 
  <servlet> 
    <servlet-name>HttpFileTransfer</servlet-name> 
    <description> 
      Servlet that do up and download of files. 
    </description> 
    <servlet-class>edmws.webapp.servlets.HttpFileTransfer</servlet-class> 
    <load-on-startup>5</load-on-startup> 
  </servlet> 

  <servlet> 
    <servlet-name>E3ReposServlet</servlet-name> 
    <description> 
      Servlet that is being developed now 
    </description> 
    <servlet-class>edmws.webapp.servlets.E3RestServlet</servlet-class> 
    <load-on-startup>5</load-on-startup> 
	
	  <init-param> 
		<param-name>e3.worker.classname</param-name> 
		<param-value>edmws.webapp.servlets.E3BimApiActions</param-value> 
		<description>The E3 Worker class for this servlet instance</description> 
	  </init-param>
	  
	  <init-param> 
		<param-name>e3.autologin.username</param-name> 
		<param-value>superuser</param-value> 
		<description>autologin param</description> 
	  </init-param>
	  <init-param> 
		<param-name>e3.autologin.groupname</param-name> 
		<param-value></param-value> 
		<description>autologin param</description> 
	  </init-param>
	  <init-param> 
		<param-name>e3.autologin.password</param-name> 
		<param-value>db1</param-value> 
		<description>autologin param</description> 
	  </init-param>
	
  </servlet> 

  <servlet> 
    <servlet-name>E3IfcApiServlet</servlet-name> 
    <description> 
      Servlet that is being developed now 
    </description> 
    <servlet-class>edmws.webapp.servlets.E3RestServlet</servlet-class> 
    <load-on-startup>5</load-on-startup> 
	
	  <init-param> 
		<param-name>e3.worker.classname</param-name> 
		<param-value>edmws.webapp.servlets.E3IfcApiActions</param-value> 
		<description>The E3 Worker class for this servlet instance</description> 
	  </init-param>
	  
	  <init-param> 
		<param-name>e3.autologin.username</param-name> 
		<param-value>superuser</param-value> 
		<description>autologin param</description> 
	  </init-param>
	  <init-param> 
		<param-name>e3.autologin.groupname</param-name> 
		<param-value></param-value> 
		<description>autologin param</description> 
	  </init-param>
	  <init-param> 
		<param-name>e3.autologin.password</param-name> 
		<param-value>db1</param-value> 
		<description>autologin param</description> 
	  </init-param>
	
  </servlet> 
  
  <servlet-mapping> 
    <servlet-name>earlybinding</servlet-name> 
    <url-pattern>/earlybinding/*</url-pattern> 
  </servlet-mapping> 
  
  <servlet-mapping> 
    <servlet-name>RESTServlet</servlet-name> 
    <url-pattern>/REST/*</url-pattern> 
  </servlet-mapping> 

  <servlet-mapping> 
    <servlet-name>WSDLGenerator</servlet-name> 
    <url-pattern>/WSDLGenerator/*</url-pattern> 
  </servlet-mapping> 
      
  <servlet-mapping> 
    <servlet-name>AccessControl</servlet-name> 
    <url-pattern>/AccessControl/*</url-pattern> 
  </servlet-mapping> 
  
  <servlet-mapping> 
    <servlet-name>Admin</servlet-name> 
    <url-pattern>/Admin/*</url-pattern> 
  </servlet-mapping> 
  
  <servlet-mapping> 
    <servlet-name>HttpFileTransfer</servlet-name> 
    <url-pattern>/HttpFileTransfer/*</url-pattern> 
  </servlet-mapping> 

  <servlet-mapping> 
    <servlet-name>E3ReposServlet</servlet-name> 
    <url-pattern>/E3ReposServlet/*</url-pattern> 
  </servlet-mapping> 
 
 <servlet-mapping> 
    <servlet-name>E3IfcApiServlet</servlet-name> 
    <url-pattern>/E3IfcApiServlet/*</url-pattern> 
  </servlet-mapping> 
  
  <filter>
	<filter-name>CorsFilter</filter-name>
	<filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
	<init-param>
		<param-name>cors.allowed.origins</param-name>
		<param-value>*</param-value>
	</init-param>
	<init-param>
		<param-name>cors.allowed.methods</param-name>
		<param-value>GET,POST,HEAD,OPTIONS,PUT</param-value>
	</init-param>
	<init-param>
		<param-name>cors.allowed.headers</param-name>
		<param-value>Content-Type,X-Requested-With,accept,Origin,Access-Control-Request-Method,Access-Control-Request-Headers</param-value>
	</init-param>
	<init-param>
		<param-name>cors.exposed.headers</param-name>
		<param-value>Access-Control-Allow-Origin,Access-Control-Allow-Credentials</param-value>
	</init-param>
	<init-param>
		<param-name>cors.support.credentials</param-name>
		<param-value>true</param-value>
	</init-param>
	<init-param>
		<param-name>cors.preflight.maxage</param-name>
		<param-value>10</param-value>
	</init-param>
  </filter>
  
	<filter-mapping>
		<filter-name>CorsFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  
</web-app> 
  
